<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.cleaningmaintenanceservices">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".common.activity.Splash" />
        <activity
            android:name=".user.activity.UserMain"
            android:label="@string/title_activity_user_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".common.activity.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.RegisterCompany"
            android:screenOrientation="portrait" />
        <activity
            android:name=".owner.activity.OwnerHome"
            android:label="@string/title_activity_owner_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".owner.activity.MangeCleaners"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".owner.activity.AddCleaner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".owner.activity.Reviews"
            android:screenOrientation="portrait" />
        <activity
            android:name=".owner.activity.Clients"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".owner.activity.ClientDetail"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".owner.activity.BookingDetail"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".common.activity.ServiceDetail"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".user.activity.Services"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".user.activity.Testimonials">

        </activity>
    </application>

</manifest>